<?xml version='1.0' encoding='utf-8'?>
<plugin id="sample-ios-plugin"
        version="0.0.1"
        xmlns="http://apache.org/cordova/ns/plugins/1.0">

    <name>SampleIOSPlugin</name>

    <js-module
            name="SampleIOSPlugin"
            src="www/sampleIOSPlugin.js">

        <clobbers target="SampleIOSPlugin" />

    </js-module>

    <platform name="ios">

        <config-file target="config.xml" parent="/*">

            <feature name="SampleIOSPlugin">

                <param name="ios-package" value="SampleIOSPlugin" onLoad="true" />

            </feature>

        </config-file>

        <header-file src="src/ios/SampleIOSPlugin.h"/>

        <source-file src="src/ios/SampleIOSPlugin.m"/>

    </platform>

</plugin>

